/* Global Style Reset */
/*  Font Family */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Box Sizing */
* {
  box-sizing: border-box;
}

/* Root Variables */
/*  Check color Contrast */
:root {
  --blue: blue;
  --lightblue: rgb(51, 197, 255);
  --gray: rgb(64, 191, 241);
  --darkblue: rgb(12, 12, 136);
}

/* Body */
body {
  color: black;
  background-color: white;
  font-family: "Montserrat", sans-serif;

  margin: 0;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}

/* Paragraphs */
p {
  margin: 0;
  line-height: 1.6;
}
/* links */
a {
  color: var(--blue);
}

a:hover,
a:focus {
  color: magenta;
  outline: none;
}

a:focus-visible {
  background-color: beige;
}

/* images */
img {
  max-width: 100%;
}

/* buttons */
button {
  cursor: pointer;
  color: white;
  background-color: var(--blue);
  padding: 12px 18px;
  border-radius: 10px;
  border: solid 2px var(--blue);
  font-family: inherit;
  font-size: inherit;
}

.container {
  /* max-width: 70rem;
  padding-inline: 24px; */

  width: min(100% - 48px, 70rem);
  margin-inline: auto;
}

/* ----------------------------- */
/* Header */
/* header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-block: 20px;
} */

header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  /* gap: 30px; */
  padding-block: 20px;
}

header ul {
  justify-content: right;
}

/* nav ul {
  list-style: none;
  display: flex;
  align-items: center;

  padding: 0;
  margin: 0;
  gap: 20px;
} */

nav ul {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 20px;
  align-items: center;

  list-style: none;
  padding: 0;
  margin: 0;
}

li:last-child a {
  color: white;
  background-color: var(--blue);
  padding: 10px 14px;
  border-radius: 10px;
  text-decoration: none;
}

#logo {
  font-size: 20px;
  font-weight: bold;
}

li:last-child a:hover,
li:last-child a:focus {
  background-color: magenta;
  outline: none;
}

/* Banner / Hero ----------------*/
#banner {
  background-color: var(--lightblue);

  /* background-image: url(bg-image.jpg); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */

  /* background: linear-gradient(140deg, blue, red); */
}

/* #banner .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 140px;
  width: 700px;
} */

#banner .container {
  text-align: center;
  display: grid;
  justify-content: center;

  gap: 20px;
  padding-block: 140px;
  width: 700px;
}

/* #banner .container ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;
  gap: 30px;
} */

#banner ul {
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;

  padding: 0;
  margin: 0;
}

#banner .container ul li:first-child {
  text-align: right;
}

#banner .container ul li:last-child {
  text-align: left;
}

#banner .container ul li:first-child a {
  color: white;
  background-color: var(--blue);
  padding: 10px 14px;
  border-radius: 10px;
  text-decoration: none;
}

#banner .container ul li:first-child a:hover,
#banner .container ul li:first-child a:focus {
  background-color: magenta;
  outline: none;
}

#bannerLearnMore {
  color: var(--darkblue);
  font-weight: bold;
}

/* Services ----------------------- */
/* #services {
  padding-block: 70px 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
} */

#services {
  padding-block: 70px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
}

/* #services h2 {
  flex-basis: 100%;
  text-align: center;
} */

#services h2 {
  grid-column: 1 / -1;
  text-align: center;
}

/* .services-card {
  border: solid 1px var(--gray);
  border-radius: 20px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  gap: 14px;

  flex-basis: calc(33% - 20px);
  flex-grow: 1;
} */

.services-card {
  border: solid 1px var(--gray);
  border-radius: 20px;
  padding: 40px;

  display: grid;
  gap: 14px;

  grid-column: span 2;
}

.services-card i {
  font-size: 30px;
}

.services-card:nth-of-type(4),
.services-card:nth-of-type(5) {
  grid-column: span 3;
}

/* Footer Region */

footer {
  background-color: lightgray;
}

/* #footerBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 30px;
  padding-block: 40px;
} */

#footerBlock {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;

  gap: 30px;
  padding-block: 40px;
}

#footerBlock :last-child {
  justify-content: right;
}

/* #footerBlock ul {
  list-style: none;
  display: flex;
  align-items: center;

  padding: 0;
  margin: 0;
  gap: 20px;
} */

#footerBlock ul {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;

  padding: 0;
  margin: 0;
  gap: 20px;
}
